body, html{
    margin:0px;
    padding-top: 15px; 
    background: #111827;
    font-family: 'Hammersmith One', sans-serif;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 15px auto;
}

img{
    width: 125px;
    margin: auto;
}

h1{
    color: #FFFDF8;
    font-size: 25px;
    font-style: normal;
    font-weight: 700px;
    text-align: center;
}

.endorsements-header{
    color: #FFFDF8;
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
}

#endorsement-field{
    border-radius: 8px;
    background: #444059;
    border: none;
    padding: 10px;
    color: #FFFDF8;
    font-family: 'Hammersmith One', sans-serif;
}

#to-field, #from-field{
    background: #444059;
    border: none;
    width: 145px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 8px;
    color: #FFFDF8;
    font-family: 'Hammersmith One', sans-serif;
}

.to-from-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
} 

button{
    width: auto;
    height: 61px;
    border-radius: 8px;
    border: none;
    background: #28A9F1;
    font-size: 22px;
    
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(1, 9, 66, 0.2);
}

ul{
    list-style-type: none;
    border-radius: 8px;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

ul li{
    color: #111827;
    text-align: left;
    border-radius: 8px;
    width: 315px;
    padding: 10px;
    background: #FFFDF8;
}

.input-value-text {
    font-size: 1.3ch; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}